body {
   margin: 20px 20px 0 20px;
}

.navbar {
  background-color: rgba(34, 26, 36, 0.94);
  
  
}
.navbar-default .navbar-brand {
  color:gold;
}
.navbar-default .navbar-brand:hover {
  color: rgb(250, 207, 109);
}
.navbar-default .navbar-nav>li>a {
  color: rgba(245, 200, 138, 0.94);

}
.navbar-default .navbar-right>li>a {
  padding-right: 30px;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #3a3ad8;
}
.navbar-default .navbar-right>li>a:hover {
  color: #3a3ad8;
}
h2{
    margin-top: 0px;     
    color: #666;
    padding-top: 50px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
    
  
}
.item{
   max-width: 100%;
    text-align: center;
    max-height: 450px;
}
 {
  
}

.h2_carusel {
  color: #ffffff;
}
.row1{
  margin: 0 1px;
  background-color: #f4f4f4;
  
}
h2{
  color: #ff9c48;
}
h3 {
  color: #f23972;
}
p {
  color: #000000;
}
#main {
  margin-top: 20px;
}
/* Metoda */

.row_matod {
  text-align:center;
  background-color: #f4f4f4;
  margin-top: 20px;
}
.block {
  list-style:none;
  margin:15px; 
  padding:10px; 
  box-shadow:0 0 5px #aaa;
  background: #FFF; 
  border-radius: 3px;
}
.list1_img {
  float:right; 
  width: 36%;
}
.list1_desc {
  float:left; 
  width:61%;
  margin-left:1em;
}
.list1_img1 {
  float:left; 
  width: 36%;
}
.reservd {
  text-align:right;
  background:#2a2a2a; 
  padding:1em; 
  color: #fff;
}
.well li {
  display: inline-block;
  text-decoration: none;

}
#footer {
  background-color: #2a2a2a;
  margin-top: -10px;
}
.menu-footer,.well, .row {
  background:#2a2a2a ;
  color: whitesmoke;
  border: none;
}














