body {
   margin-right: 20px;
   margin-left: 20px;
}

.navbar {
  background-color: rgba(34, 26, 36, 0.94);
  margin: 20px;
  
}
.navbar-default .navbar-brand {
  color:gold;
}
.navbar-default .navbar-brand:hover {
  color: rgb(250, 207, 109);
}
.navbar-default .navbar-nav>li>a {
  color: rgba(245, 200, 138, 0.94);

}
.navbar-default .navbar-right>li>a {
  padding-right: 30px;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #3a3ad8;
}
.navbar-default .navbar-right>li>a:hover {
  color: #3a3ad8;
}
h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
  
}
.item{
    background: #03bbff;    
    text-align: center;
    height: 300px !important;
  
}
.carousel{
    margin-top: 70px;
}

h2 {
  color: #5bacc4;
}
h3 {
  color: #220c83;
}
p {
  color: #150214;
}













