body {
   margin: 20px 20px 0 20px;
}

.navbar {
  background-color: rgba(34, 26, 36, 0.94);
  
  
}
.navbar-default .navbar-brand {
  color:gold;
}
.navbar-default .navbar-brand:hover {
  color: rgb(250, 207, 109);
}
.navbar-default .navbar-nav>li>a {
  color: rgba(245, 200, 138, 0.94);

}
.navbar-default .navbar-right>li>a {
  padding-right: 30px;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #3a3ad8;
}
.navbar-default .navbar-right>li>a:hover {
  color: #3a3ad8;
}
h2{
    margin-top: 0px;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
  
}
.item{
   
    text-align: center;
    height: 350px !important;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

h2 {
  color: #25c32b;
}
h3 {
  color: #220c83;
}
p {
  color: #150214;
}













